form {
    border-radius: 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px 10px 70px 10px;
    background-color: rgba(255, 255, 255, 0.971);
}

.info {
    width: 80%;
    margin-bottom: 30px;
    padding: 10px;
}

.btn-submit {
    color: white;
    background-color: #D5D;
    border: 1px solid rgb(154, 58, 154);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;

    margin-left: 150px;
}

.btn-submit:hover {
    color: #D5D;
    background-color: white;
    text-decoration: underline;
    transition: ease-in-out 0.4s;
    transform: scale(1.07);
}