body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: linear-gradient(to bottom, #451B54,#BD1461,#D01B78,#E43197,#C23DAA);
}

main {
    height: 600px;
    width: 400px;

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    border-radius: 35px;
    box-shadow: rgb(14, 17, 20) 0px 20px 30px -10px;
}

main h1 {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 70px;
    margin-top: 10px;
}

span {
    color: #D51A7B;
    font-weight: 400;
}

main p.msg-welcome {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 60px;
}

div.secao-cadastro {
    width: 390px;
    margin-bottom: 20px;
    border-radius: 25px;
    background: #FA747C;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    padding: 8px 35px;
}

div.secao-cadastro:hover {
    background-color: #D51A7B;
    color: #FA747C;

    transition: 0.3s ease-in-out;
}

div.secao-cadastro input{
    background-color: white;
    color: #85104d;
    margin-left: 20px;
    padding: 5px 20px;

    border-radius: 10px;
}

input#btn-submit {
    width: 390px;
    border-radius: 25px;
    margin-top: 50px;
    justify-content: end;
    padding: 15px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background-color: #D51A7B;
    color: white;
    cursor: pointer;
}

input#btn-submit:hover {
    background-color: #FA747C;
    color: #ffffff;

    transition: 0.5s ease-in-out;
}

.secao-cadastro input::placeholder{
    color: rgb(0, 0, 0);
}

.secao-cadastro:hover input{
    background-color: #d1cecd;
    color: rgb(255, 255, 255);
}

footer {
    color: rgb(0, 0, 0);
    margin-top: 80px;
}