body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: linear-gradient(to bottom, #451B54,#BD1461,#D01B78,#E43197,#C23DAA);
}

main {
    height: 850px;
    width: 500px;

    background-color: rgba(255, 255, 255, 0.909);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.561) 0px 18px 36px -18px inset;
}

main h1 {
    margin-bottom: 200px;
    margin-top: 10px;
    color: #D51A7B;
}

div.secao-cadastro {
    margin-bottom: 30px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #F8A480 10%, #D51A7B);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    padding: 15px 100px;
}

div.secao-cadastro:hover {
    background-image: linear-gradient(to left, #F8A480 10%, #D51A7B);
    color: #F8A480;

    transition: 0.3s ease-in-out;
}

div.secao-cadastro input{
    background-color: white;
    color: #85104d;
    margin-left: 20px;
    padding: 5px 20px;

    border-radius: 10px;
}

input#btn-submit {
    display: flex;
    margin-left: 180px;
    margin-top: 200px;
    padding: 15px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 30px;

    background-color: #D51A7B;
    color: white;
    cursor: pointer;
}

input#btn-submit:hover {
    background-color: #F8A480;
    color: #85104d;

    transition: 0.5s ease-in-out;
}

.secao-cadastro input::placeholder{
    color: D51A7B;
}

footer {
    color: white;
    margin-top: 15px;
}